.blog-card-container {
    margin-top: 20pt;
    box-sizing: border-box;
    width: 90%;
    height: 30%;
    display: flex;
    flex-direction: column;
    /* justify-content: flex-start; */
    align-items: space-between;
    background: #6b93d6;
    color: #f8f8f8;
}

.post-image {
    box-sizing: border-box;
    width: 20%;
    height: 100%;
    display: flex;
    border: 1px solid white;
}

.post-intro {
    box-sizing: border-box;
    display: flex;
    width: 70%;
    height: 100%;
    border: 1px solid green;
}
