.blog-card-container {
    box-sizing: border-box;
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 20pt;
    background: #EAEAEA;
    color: black;
    border-radius: 10px;
    padding-left: 3vw;
    padding-top: 3vh;
    padding-right: 3vw;
    padding-bottom: 3vh;
    font-family: 'Roboto', sans-serif;

}

.post-image {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    border: 1px solid tomato;
}

.post-image img {
    box-sizing: border-box;
    width: 70%;
    height: 20vh;
}

.post-intro {
    /* box-sizing: border-box;
    display: flex;
    width: 70%;
    height: 100%;
    border: 1px solid green; */
}

.header-info{
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
}
