.blog-card-container {
    box-sizing: border-box;
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 20pt;
    background: #6b93d6;
    color: #f8f8f8;
}

.post-image {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    border: 1px solid tomato;
}

.post-image img {
    box-sizing: border-box;
    width: 70%;
    height: 20vh;
}

