.navbar-container {
    box-sizing: border-box;
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #4f4cb0;
    /* border: 1px solid lightcoral; */
}

.navbar-container a {
    box-sizing: border-box;
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    text-decoration: none;
    color: #e9eff9;
    font-family: 'Lato', sans-serif;
    /* background: pink; */
}

.navbar-container a:active {
    background: rgba(255,255, 255, .3)
}

/* @media (min-width: 480px) and (max-width: 767px) {
    .navbar-container {
        background: lightslategray;
    }
} */

/* @media (min-width: 768px) and (max-width: 1023px) {
    .navbar-container {
        background: lightcoral;
    }
} */

/* @media (min-width: 1024px) and (max-width: 1280px) {
    .navbar-container {
        background: lightblue;
    }
} */

/* @media (min-width: 1281px) {
    .navbar-container {
        background: lightseagreen;
    }
} */