.post-page-container {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    color: #e9eff9;
}

form {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.split {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: space-around;
}

.left-inputs {
    box-sizing: border-box;
    width: 40%;
    display: flex;
    flex-direction: column;
    padding: 6%; 
}

.left-inputs input {
    margin-bottom: 15pt;
}

.right-inputs {
    box-sizing: border-box;
    width: 40%;
    display: flex;
    flex-direction: column;
    padding: 6%;
}

.right-inputs input {
    margin-bottom: 15%;
}

.center-inputs {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5pt;
}

.center-inputs label {
    box-sizing: border-box;
    width: 100%;
    display: flex;
    padding-bottom: 5pt;
}

.center-inputs input {
    box-sizing: border-box;
    display: flex;
    margin-bottom: 10pt;
}

.center-inputs textarea {
    box-sizing: border-box;
    display: flex;
    margin-bottom: 10pt;
    resize: none;
    border: none;
}

button {
    box-sizing: border-box;
    width: 20%;
    display: flex;
    justify-content: center;
    padding: 5pt;
    font-size: 1rem;
    border: none;
}

.input-title:not(:focus), 
.input-date:not(:focus), 
.input-blogDate:not(:focus), 
.input-author:not(:focus), 
.input-blogTags:not(:focus), 
.input-blogImgUrl:not(:focus), 
.input-description:not(:focus), 
.input-body:not(:focus) {
    font-style:italic;
    }


@media (min-width: 510px) and (max-width: 767px) {
    .split {
        flex-direction: column;
        align-items: center;
    }

    .left-inputs {
        align-items: flex-end;
    }

    .left-inputs label {
        margin-right: 5pt;
    }

    .left-inputs input {
        width: 100pt;
    }

    .right-inputs {
        padding-top: 0;
        align-items: flex-end;
    }

    .right-inputs label {
        margin-right: 5pt;
    }

    .right-inputs input {
        width: 100pt;
    }

}

@media (min-width: 768px) and (max-width: 1023px) {
    .split {
        flex-direction: column;
        align-items: center;
    }

    .left-inputs {
        align-items: flex-end;
    }

    .left-inputs label {
        margin-right: 5pt;
    }

    .left-inputs input {
        width: 150pt;
    }

    .right-inputs {
        padding-top: 0;
        align-items: flex-end;
    }

    .right-inputs label {
        margin-right: 5pt;
    }

    .right-inputs input {
        width: 150pt;
    }
}

@media (min-width: 1024px) and (max-width: 1280px) {
    .split {
        flex-direction: column;
        align-items: center;
    }

    .left-inputs {
        align-items: flex-end;
    }

    .left-inputs label {
        margin-right: 5pt;
    }

    .left-inputs input {
        width: 200pt;
    }

    .right-inputs {
        padding-top: 0;
        align-items: flex-end;
    }

    .right-inputs label {
        margin-right: 5pt;
    }

    .right-inputs input {
        width: 200pt;
    }
}